
html
   head
      title library
      link(href='libstyle.min.css', rel='stylesheet')
   body

      .row.center-md
         .col-md-12
            h1 h1 40px
            h2 h2 35px
            h3 h3 30px
            h4 h4 25px
            h5 h5 20px
            h6 h6 15px
      .row.center-md
          .col-md-5
             .text-center .text-center
             .text-left .text-left
             .text-right .text-right
             .text-justify .text-justify
             br
             .text-lowercase .text-lowercase
             br
             .text-uppercase .text-uppercase
             br
             .text-small .text-small
             br
             .text-primary .text-primary
             br
             .text-sucess .text-sucess
             br
             .text-info .text-info
             br
             .text-warning .text-warning
      .row.center-md
          .col-md-5
             .float-left .float-left
             .float-right .float-right
             .center .center
             .clearfix .clearfix
             .show .show and .hidden
      .row.center-md
         .col-md-12
            ul.list-inline
               li .list-inline
               li .list-inline
               li .list-inline
               li .list-inline
               li .list-inline
               li .list-inline
      .row.center-md
         .col-md-5
            table.table.table-border.table-striped.table-hover
               thead .table .table-border .table-striped .table-hover
               tr
                  td a
                  td b
                  td c
               tr
                  td a
                  td b
                  td c
               tr
                  td a
                  td b
                  td c
      .row.center-md
         .col-md-5
            form.form
               button.btn.btn-default .btn-default
               button.btn.btn-primary .btn-primary
               button.btn.btn-sucess .btn-sucess
               button.btn.btn-warning .btn-warning
               button.btn.btn-info .btn-info

      .row.center-md
         .col-md-5
            .bg-primary .bg-primary
            .bg-sucess .bg-sucess
            .bg-info .bg-info
            .bg-warning .bg-warning